table#results {
    width: 100%;
}

.result-sty {
    border: 1px solid black;
    padding: 5px;
}

table#results.empty {
    display: none;
}

.by-chooser {
    display: none;
}

.active {
    display: inline !important;
}