{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
    <h1>
        About
    </h1>
    <h4>
            The FBI defines a hate crime as  a “criminal offense against a person or property motivated in 
        whole or in part by an offender’s bias against a race, religion, disability, sexual orientation, 
        ethnicity, gender, or gender identity.”
    </h4>
    <h4>
        Each year, according to a mandate beginning in 1990, the FBI compiles a limited list of hate crims
        as reported from various regions throughout the US. We've taken the master list of these crimes and 
        created an application to allow for an intuitive interaction with this crime data.
    </h4>
{% endblock %}