{% extends "base.html" %}
{% block title %}Insert{% endblock %}
{% block body %}
    <h1>Hateabase</h1>
    <h3>This website can be used to get statistics about hate crimes commited in the US based on the FBI dataset from 2014.</h3>
    <h2>Report an incident</h2>
    <form name="Incidents" action="" method='POST'>
        ORI:<input type="text" name="ORI">
        IncidentId:<input type="text" name="IncidentId">
        IncidentDate:<input type="date" pattern=YYYY-MM-DD name="IncidentDate">
        <br />
        TotalVictims:<input type="text" name="TotalVictims">
        TotalOffenders:<input type="text" name="TotalOffenders">
        OffenderRace:<select name="OffenderRace">
			{% for race in races %}
            	<option value="{{ race }}">{{ race }}</option>
            {% endfor %}
		</select>
        <br />
        Ordinal:<input type="text" name="Ordinal1">
        OffenseType:<input type="text" name="OffenseType1">
        NumberOfVictims:<input type="text" name="NumberOfVictims1">
        BiasMotivation:<select name="BiasMotivation1">
            {% for b in bias %}
                <option value="{{ b }}">{{ b }}</option>
            {% endfor %}
        </select>
        VictimType:<select name="VictimType1">
            {% for b in victim %}
                <option value="{{ b }}">{{ b }}</option>
            {% endfor %}
        </select>
        <br />
        Ordinal:<input type="text" name="Ordinal2">
        OffenseType:<input type="text" name="OffenseType2">
        NumberOfVictims:<input type="text" name="NumberOfVictims2">
        BiasMotivation:<select name="BiasMotivation2">
            {% for b in bias %}
                <option value="{{ b }}">{{ b }}</option>
            {% endfor %}
        </select>
        VictimType:<select name="VictimType2">
            {% for b in victim %}
                <option value="{{ b }}">{{ b }}</option>
            {% endfor %}
        </select>
        <br />
        Ordinal:<input type="text" name="Ordinal3">
        OffenseType:<input type="text" name="OffenseType3">
        NumberOfVictims:<input type="text" name="NumberOfVictims3">
        BiasMotivation:<select name="BiasMotivation3">
            {% for b in bias %}
                <option value="{{ b }}">{{ b }}</option>
            {% endfor %}
        </select>
        VictimType:<select name="VictimType3">
            {% for b in victim %}
                <option value="{{ b }}">{{ b }}</option>
            {% endfor %}
        </select>
        <br />
        Ordinal:<input type="text" name="Ordinal4">
        OffenseType:<input type="text" name="OffenseType4">
        NumberOfVictims:<input type="text" name="NumberOfVictims4">
        BiasMotivation:<select name="BiasMotivation4">
            {% for b in bias %}
                <option value="{{ b }}">{{ b }}</option>
            {% endfor %}
        </select>
        VictimType:<select name="VictimType4">
            {% for b in victim %}
                <option value="{{ b }}">{{ b }}</option>
            {% endfor %}
        </select>
        <button type="submit" method="post">Submit</button>
    </form>
    {% if result %}
        <h4>{{ result }} </h4>
    {% endif %}
{% endblock %}
