{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block body %}
    <link rel="stylesheet" type="text/css" href="/static/search.css" />
    <script src="/static/snorlax.js"></script>
    <h1>Hateabase</h1>
    <h3>This website can be used to get statistics about hate crimes commited in the US based on the FBI dataset from 2014.</h3>
    <h2>Get statistics about:</h2>
    <form name="info">
        <select name="get-choice" id="get-chooser">
            <option value="">Get</option>
            {% for obj in api %}
                <option value="{{ obj.val }}">{{ obj.title }}</option>
            {% endfor %}
        </select>
        {% for obj in api %}
        <select name="by-choice-{{ obj.val }}" id="by-chooser-{{ obj.val }}" class="by-chooser">
            <option value="">By</option>
            {% for data in obj.attributes %}
                <option value="{{ data.val }}">{{ data.title }}</option>
            {% endfor %}
        </select>
        {% endfor %}
    </form>
    <button id="sender">Query</button>
    <table id="results" class="result-sty empty">
    </table>
    <script type="text/javascript">
        var snore = new snorlax('http://localhost:5000/hateabase/api/v1.0');
        $("button#sender").click(function() {
            snore.find($("select#get-chooser").val(), $("select#by-chooser-" + $("select#get-chooser").val()).val(), "", function(json, status, xhr){
                console.log(xhr.status);
                if (xhr.status === 200) {
                    var results = $("table#results");
                    data = json['data'];
                    keys = json['keys'];

                    var htm = ""
                    
                    htm += "<tr>";
                    keys.forEach(function(val, key, keyList) {
                        htm += "<td class=\"result-sty\">" + val.replace( /([A-Z])/g, " $1" ) + "</td>";
                    });
                    htm += "</tr>";
                    data.forEach(function(dict, index, dataList) {
                        htm += "<tr>";
                        keys.forEach(function(val, key, keyList) {
                            htm += "<td class=\"result-sty\">" + dict[val] + "</td>";
                        });
                        htm += "</tr>";
                    });
                    results.html(htm);

                    if (results.hasClass("empty")) {
                        results.removeClass("empty");
                    }
                } else {
                    var results = $("table#results");
                    results.html("");
                    results.addClass("empty");
                }
            });
        });

        $("select#get-chooser").change(function() {
            $("select.active").toggleClass("active");
            var getter = $("select#get-chooser").val();
            $("select#by-chooser-" + getter).toggleClass("active");
        })
    </script>
{% endblock %}